<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b56393">  <td>18/11/12 19:32:54</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SearchShoes.setUp()[pri:0, instance:pe.com.ebay.demo.testcases.SearchShoes@73d4cc9e]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@11902257</td>   <td></td> </tr>
<tr bgcolor="b56393">  <td>18/11/12 19:33:15</td>   <td>21134</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SearchShoes.verifyResults()[pri:1, instance:pe.com.ebay.demo.testcases.SearchShoes@73d4cc9e]">verifyResults</td> 
  <td>main@11902257</td>   <td></td> </tr>
</table>
