<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6bdb79">  <td>18/11/03 17:58:40</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SearchShoes.setUp()[pri:0, instance:pe.com.ebay.demo.testcases.SearchShoes@543c6f6d]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1159114532</td>   <td></td> </tr>
<tr bgcolor="6bdb79">  <td>18/11/03 17:58:49</td>   <td>9614</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SearchShoes.tearDown()[pri:0, instance:pe.com.ebay.demo.testcases.SearchShoes@543c6f6d]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1159114532</td>   <td></td> </tr>
<tr bgcolor="6bdb79">  <td>18/11/03 17:58:45</td>   <td>5194</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SearchShoes.verifyResults()[pri:1, instance:pe.com.ebay.demo.testcases.SearchShoes@543c6f6d]">verifyResults</td> 
  <td>main@1159114532</td>   <td></td> </tr>
</table>
